################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BDI3Mobile/BDI3Mobile/BDI3Mobile/obj
/BDI3Mobile/BDI3Mobile/BDI3Mobile.Android/obj
/BDI3Mobile/BDI3Mobile/BDI3Mobile.Android
/BDI3Mobile/BDI3Mobile/BDI3Mobile/bin/Debug/netstandard2.0
/BDI3Mobile/BDI3Mobile/BDI3Mobile.UWP/obj/x86/Debug
/BDI3Mobile/.vs/BDI3Mobile/v16/Server/sqlite3
/BDI3Mobile/.vs/BDI3Mobile
/BDI3Mobile/BDI3Mobile/BDI3Mobile.iOS/obj
/BDI3Mobile/BDI3Mobile/BDI3Mobile.iOS/BDI3Mobile.iOS.csproj.user
/BDI3Mobile/BDI3Mobile/BDI3Mobile.UWP/obj
/BDI3Mobile/BDI3Mobile/BDI3Mobile.iOS/bin/iPhoneSimulator/Debug
/BDI3Mobile/BDI3Mobile/BDI3Mobile.UWP/bin/x86/Debug
/BDI3Mobile/BDI3Mobile/BDI3Mobile.UWP/bin/x86/Release
/BDI3Mobile/BDI3Mobile/BDI3Mobile/BDI3Mobile.csproj.user
/BDI3Mobile/BDI3Mobile/BDI3Mobile/bin/Release/netstandard2.0
/BDI3Mobile/BDI3Mobile/BDI3Mobile.UWP/BundleArtifacts
/BDI3Mobile/BDI3Mobile/BDI3Mobile.UWP/BDI3Mobile.UWP.csproj.user
/BDI3Mobile/BDI3Mobile/BDI3Mobile.UWP/AppPackages
/BDI3Mobile/academic friday morning.diagsession
/.vs
/BDI3Mobile/BDI3Mobile/BDI3Mobile.UWP/bin/x64/Release
/BDI3Mobile/BDI3Mobile/ClinicalScoring/bin
/BDI3Mobile/BDI3Mobile/ClinicalScoring/obj
/BDI3Mobile/ScoringTests/bin/Release/netcoreapp2.1
/BDI3Mobile/ScoringTests/obj/Debug/netcoreapp2.1
/BDI3Mobile/ScoringTests/obj/Release/netcoreapp2.1
/BDI3Mobile/ScoringTests/obj
/BDI3Mobile/ScoringTests/bin/Debug/netcoreapp2.1
/BDI3Mobile/BDI3Mobile/BDI3Mobile.UWP/bin/ARM/Release
